@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* CSS Reset */
html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Ensure all elements inherit box-sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* App Component Styles */
.App {
    background-color: #EBEEE9;
    height: 100%;
    width: 100%;
    padding: 0;
}